gmail-to-sheets-workflow.json.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "813c6af8-d038-421c-868f-743f8fb3f531",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_NIoHMyIZq-Zdrnn3hFwF6d53K385E06Qzh-q-74lpo",
          "mode": "list",
          "cachedResultName": "Yapılacaklar Listesi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NIoHMyIZq-Zdrnn3hFwF6d53K385E06Qzh-q-74lpo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1386834576,
          "mode": "list",
          "cachedResultName": "Yapılacaklar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_NIoHMyIZq-Zdrnn3hFwF6d53K385E06Qzh-q-74lpo/edit#gid=1386834576"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Durum": "false",
            "Tarih": "={{$now}}",
            "Görev": "={{$json[\"Subject\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Durum",
              "displayName": "Durum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tarih",
              "displayName": "Tarih",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Görev",
              "displayName": "Görev",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "66d05575-fb6a-4ce8-91de-896627b664e5",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2lq4363U4u9imV73",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "037f0bfe-e1e3-484c-b1a4-29580ed9c9bb",
      "name": "Get many messages",
      "webhookId": "f7c484e8-67e4-4ced-a440-7160e177e174",
      "credentials": {
        "gmailOAuth2": {
          "id": "5v7qaiQ00ZCeZkFz",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7a934238-0b4a-4e0f-9687-fa6424a0f279",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adebe73ab48f8f643b41bea6294a1964562141aad4e668f7d29df299eb0a3387"
  },
  "id": "Eun7lAauzZmU7fha",
  "tags": []
}